
    <div class="row justify-content-around"  name="card">
        <div class="card bg-dark text-white" style="width: 16rem;">
          <img class="card-img-top" src="/images/card1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-secondary">Go somewhere</a>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width: 16rem;">
          <img class="card-img-top" src="/images/card2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-secondary">Go somewhere</a>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width: 16rem;">
          <img class="card-img-top" src="/images/card3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-secondary">Go somewhere</a>
          </div>
        </div>
  </div>
