<div id="cf3" class="shadow"  >
<img src="../images/galaxia2.jpg"  class="img-fluid bottom" alt="Nodo One Logo" style="position:absolute">
<img  src="../images/galaxia.jpg" class="img-fluid top" alt="Nodo One Logo" style="position:absolute">
<img src="../images/galaxia3.jpg"  class="img-fluid bottom" alt="Nodo One Logo"  style="z-index:-1">
</div>
