body {
  background-image: url("/images/background.jpg");
  background-color: black;
  padding: 10px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
}


html{
  overflow-y: scroll;
}

.card{
  margin: 14px;
}

#cf3 img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf3 img.transparent {
opacity:0;
}

@keyframes cf3FadeInOut {
0% {
opacity:1;
}
45% {
opacity:0.5;
}
55% {
opacity:0.25;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 8s;
animation-direction: alternate;
}

#imgp{ height: 60px; width:60px; }


#formi{
margin:5px;
width:400px;

}
