body {
  background-image: url("/images/background.jpg");
  background-color: black;
  padding: 10px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card{
  margin: 14px;
}
